<!DOCTYPE html>
<html ng-app="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script type="text/javascript" src="app/bower_components/angular/angular.js"></script>
</head>
<body>
<!-- novalidate 去掉浏览器自带的验证功能 -->
<!-- form的name属性不可少,ng会默认把验证的各种数据绑定到name属性对象上 -->
	<form novalidate  name="myForm" action="" method="get" accept-charset="utf-8">
		<lengend>username:</lengend>
		<!-- name与ng-model要保持一致,两者都不可缺少 -->
		<!-- required 表示此项必填 不能为空 -->
		<!-- <input name="username" ng-model="username" type="text" required> -->
		<!-- 从form对象myForm中,找到需要验证的input框username.$error是他的错误集合,从错误集合中查看验证条件是否没通过 -->
		<!-- formName.inputFiledName,prototype -->
		<!-- 修改过的输入框 myForm.username.$dirty -->
		<!-- 未修改的输入框 myForm.username.$pristine -->
		<!-- 验证不通过的输入框 myForm.username.$invalid 当$error为空集合时,说明验证通过,$invalid的值为false -->
		<!-- ng-minlength 最小长度 -->
		<!-- ng-maxlength 最大长度 -->
		<!-- ng-pattern 正则表达式 -->
		<!-- <input name="username" ng-model="username" ng-pattern='/^(1[^012][0-9]{9})$/' ng-minlength="5" required type="text" name=""> -->
		<!-- <div style="color:red" ng-show="myForm.username.$dirty && myForm.username.$error.minlength">username必填 最小长度为5 必须输入合法的手机号</div> -->

		<!-- <div style="color:red" ng-show="myForm.username.$error.$pattern">必须输入合法的手机号</div>
		{{myForm.username.$error}} -->

		<input type="text" name="username" ng-model="username" ng-minlength="6" ng-maxlength="15" ng-pattern='/^(1[^012][0-9]{9})$/' required>
		<div ng-show="myForm.username.$error.pattern">必须输入合法的手机号</div>
		<!-- <div ng-show="myForm.username.$error.minlength">最小长度为6</div> -->
		<!-- <div ng-show="myForm.username.$error.maxlength">最大长度为15</div> -->
		<div ng-show="myForm.username.$dirty && myForm.username.$error.required">必填项</div>
	</form>
</body>
</html>